/* Açıklama Satırı*/


#first-article{
    font-size:40px;
}
.text-red{
    color:red;
}
body{
    background-color: black;
    color: white;
    font-family: sans-serif;
}
h2 {
    color:green; 
    font-size:64px;
    text-transform: uppercase;
}       
p {
    color:red;
    font-size: 20px;
}
ul{
    color: blue;
}